<<<<<<< HEAD
@import 'tailwindcss';
=======

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* display: grid; */
    /* place-items: center; */
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    position: relative;
    background-color: rgba(0, 0, 0, 0.15);
}


>>>>>>> ed9eb3290ce1dbd07fe91c81dd73e3786099747d
