.form-wrapper {
    width: 100vw;
    display: flex;
    position: relative;
    
} 

.form-box {
    width: 650px;
    padding: 20px;
    background-color: #f3e9e9;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    box-sizing: border-box;
    margin-bottom: 50px;
    position: absolute;
    left: 300px;
    top: 150px;
    right: 300px;
    
    
    
}

.form-box h2 {

    color: #007BFF;
}

.cancel-btn {
    padding: 10px 30px;
    margin: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.submit-btn {
    padding: 10px 30px;
    margin: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

h2 {
    margin: 10px 20px;
}

input {
    width: 400px;
    margin: 10px 0px;
    padding: 10px 0px;
    font-size: 15px;
    box-sizing: border-box;

}

label {
    margin: 10px;
    padding: 10px 0px;
    font-size: 15px;
}

@media (max-width: 680) {

}

@media (max-width: 375) {

}