.landing-page {
    height: 100vh;
    background-image: url('/showcase.jpg');
    position: relative;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.overlay {

    background: rgba(0, 0, 0, 0.589);
    inset: 0;
    z-index: 0;
    position: absolute;

}

.header-section {
    z-index: 1000;
    background-color: lightgrey;
    position: fixed;
    height: 50px;
}

.hero-content {
    z-index: 1000;
    text-align: center;
    padding: 20px;
    background-color: rgba(2, 2, 2, 0.692);
    border-radius: 10px;
    text-indent: 5px;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.get-start-btn {
    
    background-color: darkblue;
    border: none;
    color: gainsboro;
    padding: 12px 35px;
    margin: 10px;
    border-radius: 8px;
}

.connect-btn {

    border: 1px solid #f26522;
    background: transparent;
    color: #f26522;
    padding: 10px 30px;
    margin: 10px;
    border-radius: 8px;
}